version: '3.9'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: aldott
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
  web:
    build: .
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/aldott
      NEXTAUTH_SECRET: changeme
      NEXTAUTH_URL: http://localhost:3000
    ports:
      - '3000:3000'
    depends_on:
      - db
volumes:
  pgdata:
